<!--copyright start-->
<div class="agency copyright">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="link-horizontal">
                    <ul>
                        <li>
                            <a class="copyright-text" href="javascript:void(0)" (click)="openVerticallyCentered(content)">Politique de confidentialité</a>
                        </li>
                    </ul>
                </div>
            </div>
            <ng-template #content let-modal>
                <div class="login-modal">
                    <div class="modal-header">
                        <button aria-label="Close" (click)="modal.dismiss('Cross click')" class="close"
                            data-dismiss="modal" type="button">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div *ngIf="politic" class="modal-body text-center">
                        <h3 class="m-b-20">{{politic.title}}</h3>
                        <p>{{politic.document}}</p>
                        <a aria-label="Close" class="btn btn-default primary-btn m-t-20" (click)="modal.dismiss('Cross click')" data-dismiss="modal">
                            Fermer
                        </a>
                    </div>
                    <div *ngIf="!politic" class="modal-body text-center">
                        <app-loader-bis></app-loader-bis>
                    </div>
                </div>
            </ng-template>
            <div class="col-sm-6">
                <div>
                    <h6 class="copyright-text text-white text-right">Copyright ©{{year}} Lucien Burdet
                        <i aria-hidden="true" class="fa fa-terminal"></i>
                    </h6>
                </div>
            </div>
        </div>
    </div>
</div>
<!--copyright start-->