<!-- blog section start-->
<section class="agency blog blog-bg" id="blog" [ngStyle]="{'background-image': 'url(assets/images/agency/blog/background.png)'}">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="title">
                    <div class="main-title">
                        <h2 class="text-capitalize text-center">derniers articles</h2>
                    </div>
                    <div class="sub-title">
                        <p class="text-center">
                            Retrouvez tous les posts sur le <a [routerLink]="['/blog']">Blog</a>.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-12" *ngIf="!blogs">
                <app-loader-bis></app-loader-bis>
            </div>
            <div class="col-12" *ngIf="blogs">
                <owl-carousel-o [options]="blogCarouselOptions">
                    <ng-container *ngFor="let blog of blogs">
                        <ng-template carouselSlide class="item">
                            <div class="blog-agency">
                                <div class="blog-contain">
                                    <img [src]="imagePath + blog.image" alt="{{blog.title}}" class="img-fluid">
                                    <div class="img-container center-content">
                                        <div class="center-content">
                                            <div class="blog-info">
                                                <div class="m-b-10">
                                                    <div class="center-text">
                                                        <i class="fa fa-clock-o"
                                                            aria-hidden="true"></i>
                                                        <h6 class="m-r-25 font-blog">{{blog.date | date}}</h6>
                                                        <i class="fa fa-tags" aria-hidden="true"></i>
                                                        <h6 class="m-r-15 font-blog" *ngFor="let tag of blog.tags">
                                                            <a href="#">{{tag.title}}</a>
                                                        </h6>
                                                    </div>
                                                </div>
                                                <h5 class="blog-head">{{blog.title}}</h5>
                                                <p class="para2">{{blog.content}}</p>
                                                <div class="m-t-20">
                                                    <a href="{{blog.slug}}" class="text-uppercase">
                                                        Voir plus
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                    </ng-container>
                </owl-carousel-o>
            </div>
        </div>
    </div>
</section>
<!-- blog section end-->