<div class="agency-page" [ngStyle]="{'background-image': 'url(assets/images/agency/slider/slider.png)'}">
    <div class="container agency-title">
        <div class="row">
            <div class="col-12">
                <div class="title title2 title-inner">
                    <div class="main-title">
                        <h2 class="font-primary borders text-center main-text text-uppercase m-b-0">
                            <span>contact</span>
                        </h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<section id="agency-contact-body" class="bg-light-inner p-b-0">
    <section class="music bg-footer"
        [ngStyle]="{'background-image': 'url(assets/images/agency/service/services-backgrondpng.png)'}">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                </div>
                <div class="col-sm-4">
                    <div class="contact-details text-center">
                        <h4 class="contact-heading">Disponible dans toute la france</h4>
                        <h6 class="contact-sub-text">Lyon, France.</h6>
                        <h6 class="contact-sub-text">
                            <a class="agency-contact-mail-to" href="mailto:contact@lucien-brd.com">contact@lucien-brd.com</a>
                        </h6>
                    </div>
                </div>
                <div class="col-sm-4">
                </div>
            </div>
            <div class="form form-footer p-t-50">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <input type="text" placeholder="votre nom">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <input type="text" placeholder="votre email">
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-group">
                            <textarea class="form-control" rows="6" placeholder="votre message"></textarea>
                        </div>
                    </div>
                    <div class="booking">
                        <a class="btn btn-default btn-gradient text-white">envoyer</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>