<div class="footer-title mobile-title">
    <h3 class="text-white">{{language.postTags}}</h3>
</div>
<div class="footer-contant">
    <h5 class="footer-headings">{{language.postTags}}</h5>
    <div class="link-btns" *ngIf="tags">
        <ul>
            <li class="buttons" *ngFor="let tag of tags">
                <a [routerLink]="['/blog/tag', tag.title]">{{tag.title}}</a>
            </li>
        </ul>
    </div>
    <div class="link-btns" *ngIf="!tags">
        <app-loader-bis-white></app-loader-bis-white>
    </div>
</div>