<app-loader></app-loader>
<router-outlet></router-outlet>
<div class="theme-pannel-main">
    <ul>
        <li id="rtl_btn" *ngIf="customize.data.settings.layout_type == 'ltr'" (click)="customizeLayoutType('rtl')"><a href="javascript:void(0)" class="btn setting_btn"><span class="rtl-txt">Dag</span></a></li>
        <li id="ltr_btn" *ngIf="customize.data.settings.layout_type == 'rtl'" (click)="customizeLayoutType('ltr')"><a href="javascript:void(0)" class="btn setting_btn"><span class="rtl-txt">Gad</span></a></li>
        <li class="sidebar-btn dark-light-btn" *ngIf="customize.data.settings.layout_version == 'dark'" (click)="customizeLayoutVersion('light')">
            <a href="javascript:void(0)" class="dark-light"><span class="theme-layout-version">Clair</span></a>
        </li>
        <li class="sidebar-btn dark-light-btn"  *ngIf="customize.data.settings.layout_version == 'light'" (click)="customizeLayoutVersion('dark')">
            <a href="javascript:void(0)" class="dark-light"><span class="theme-layout-version">Sombre</span></a>
        </li>
    </ul>
</div>
<cookie-law>
    {{cookie}}
    <a href="javascript:void(0)" id="cookie-more" (click)="openVerticallyCentered(content)">Savoir plus</a>
</cookie-law>

<ng-template #content let-modal>
    <div class="login-modal">
        <div class="modal-header">
            <button aria-label="Close" (click)="modal.dismiss('Cross click')" class="close"
                data-dismiss="modal" type="button">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div *ngIf="politic" class="modal-body text-center">
            <h3 class="m-b-20">{{politic.title}}</h3>
            <div *ngIf="mdLoad">
                <app-loader-bis></app-loader-bis>
            </div>
            <div class="md-view">
                <markdown [src]="documentPath + politic.document" (ready)="onReady()"></markdown>
            </div>
            <a aria-label="Close" class="btn btn-default primary-btn m-t-20" (click)="modal.dismiss('Cross click')" data-dismiss="modal">
                Fermer
            </a>
        </div>
        <div *ngIf="!politic" class="modal-body text-center">
            <app-loader-bis></app-loader-bis>
        </div>
    </div>
</ng-template>