<!--footer start-->
<footer class="agency footer2 p-b-0">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-12 set-first">
                <div class="logo-sec">
                    <div class="footer-title mobile-title">
                        <h3 class="text-white">About Us</h3>
                    </div>
                    <div class="footer-contant">
                        <img src="assets/images/logo/logo.webp" alt="" class="img-fluid footer-logo img-logo">
                        <div class="footer-para">
                            <h6 class="text-white para-address">Lucien Burdet</h6>
                            <h6 class="text-white para-address">N° SIRET 847 828 183 00016</h6>
                        </div>
                        <ul class="d-d-flex footer-social social">
                            <li class="footer-social-list" *ngFor="let social of socials">
                                <a target="_blank" href="{{social.link}}"><i class="fa fa-{{social.fa}}" aria-hidden="true"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-12">
                <div class="footer-title mobile-title">
                    <h3 class="text-white">pages</h3>
                </div>
                <div class="footer-contant">
                    <h5 class="footer-headings">pages</h5>
                    <div>
                        <ul class="footer-lists op-text">
                            <li class="">
                                <a [routerLink]="['/']">Accueil</a>
                            </li>
                            <li class="">
                                <a [routerLink]="['/page/projets']">Projets</a>
                            </li>
                            <li class="">
                                <a [routerLink]="['/page/contact']">Contact</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-12">
                <div class="footer-title mobile-title">
                    <h3 class="text-white">&#8205;</h3>
                </div>
                <div class="footer-contant">
                    <h5 class="footer-headings">&#8205;</h5>
                    <div>
                        <ul class="footer-lists op-text">
                            <li class="">
                                <a [routerLink]="['/page/formation']">Formations</a>
                            </li>
                            <li class="">
                                <a [routerLink]="['/page/cv']">CV</a>
                            </li>
                            <li class="">
                                <a [routerLink]="['/page/a-propos']">à propos</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-12">
                <div class="footer-title mobile-title">
                    <h3 class="text-white">Sitemap</h3>
                </div>
                <div class="footer-contant">
                    <h5 class="footer-headings">Sitemap</h5>
                    <div>
                        <ul class="footer-lists op-text">
                            <li class="">
                                <a [routerLink]="['/page/formation']">Sitemap</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-12 col-sm-12 set-last">
                <div class="footer-title mobile-title">
                    <h3 class="text-white">Post Tags</h3>
                </div>
                <div class="footer-contant">
                    <h5 class="footer-headings">Post Tags</h5>
                    <div class="link-btns">
                        <ul>
                            <li class="buttons">
                                <a href="#">app</a>
                            </li>
                            <li class="buttons">
                                <a href="#">business</a>
                            </li>
                            <li class="buttons">
                                <a href="#">corporation</a>
                            </li>
                            <li class="buttons">
                                <a href="#">creative</a>
                            </li>
                            <li class="buttons">
                                <a href="#">design</a>
                            </li>
                            <li class="buttons">
                                <a href="#">fashion</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!--footer end-->
    </div>
</footer>
<!--footer end-->
<app-tap-to-top></app-tap-to-top>

